body {
    padding: 0;
    margin: 0; 
    background-color: #f0eceb;
}
#map {
    margin: 10px;
    height: 600px;
    top: 20px;
    border: 3px solid #729f98;
}
form {
    position: absolute;
    margin: 25px;
    top: 20px;
    z-index: 1;
    right: 0%;
    width: 180px;
    
    background-color: #f0eceb;
    
    border-radius: 5px;
    border: 3px solid #729f98;
    
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
}
#tytul {
    font-size: 16px;;
    margin: 2px;;
}
form p {
    margin: 5px 0 5px 10px;
    padding: 0;
    font-weight: bold
}
input {
    margin: 0 0 5px 10px;;
}